*
	font-family: 'Roboto', sans-serif

.mdl-layout-title
	background: #fefefe
	color: #424242

.mdl-navigation
	.mdl-navigation__link
		color: #424242

.photo-avatar
	margin: 0 auto
	width: 20em
	height: 26em
	background-image: url('/avatar2.jpg')
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	box-shadow: .3em .3em .8em .1em #aaa
	// -moz-box-shadow
	// -webkit-box-shadow
	border-radius: 2%
	// -moz-border-radius: .2em
	// -webkit-border-radius: .2em
	opacity: .95

.column-spacer
	margin: 2em 0
// p font-size: calc(15px + 7 * ((100vw - 500px) / 900));

h3
	font-weight: 200
